# Angular Material components
/src/material/*                                             @andrewseguin

# Angular Material core

# Miscellaneous components
/src/google-maps/**                                         @crisbeto
/src/youtube-player/**                                      @crisbeto

# CDK
/src/cdk/*                                                  @andrewseguin
/src/cdk/a11y/**                                            @jelbourn @devversion
/src/cdk/accordion/**                                       @andrewseguin
/src/cdk/bidi/**                                            @andrewseguin
/src/cdk/clipboard/**                                       @andrewseguin
/src/cdk/coercion/**                                        @andrewseguin
/src/cdk/collections/**                                     @crisbeto @andrewseguin
/src/cdk/dialog/**                                          @jelbourn @crisbeto
/src/cdk/drag-drop/**                                       @crisbeto
/src/cdk/keycodes/**                                        @andrewseguin
/src/cdk/layout/**                                          @andrewseguin
/src/cdk/listbox/**                                         @jelbourn
/src/cdk/menu/**                                            @mmalerba @crisbeto
/src/cdk/observers/**                                       @andrewseguin @crisbeto
/src/cdk/overlay/**                                         @jelbourn @crisbeto
/src/cdk/platform/**                                        @andrewseguin @devversion
/src/cdk/portal/**                                          @andrewseguin
/src/cdk/schematics/**                                      @devversion @andrewseguin
/src/cdk/scrolling/**                                       @andrewseguin @crisbeto
/src/cdk/stepper/**                                         @mmalerba
/src/cdk/table/**                                           @andrewseguin
/src/cdk/testing/**                                         @mmalerba @devversion
/src/cdk/text-field/**                                      @mmalerba
/src/cdk/tree/**                                            @jelbourn @andrewseguin

# Date adapters
/src/material-date-fns-adapter/**                           @crisbeto
/src/material-luxon-adapter/**                              @crisbeto
/src/material-moment-adapter/**                             @mmalerba

# Material experimental package
/src/material-experimental/*                                @andrewseguin
/src/material-experimental/column-resize/**                 @andrewseguin
/src/material-experimental/menubar/**                       @jelbourn
/src/material-experimental/popover-edit/**                  @andrewseguin
/src/material-experimental/selection/**                     @andrewseguin
/src/material-experimental/theming/**                       @mmalerba

# CDK experimental package
/src/cdk-experimental/*                                     @andrewseguin
/src/cdk-experimental/column-resize/**                      @andrewseguin
/src/cdk-experimental/combobox/**                           @jelbourn
/src/cdk-experimental/popover-edit/**                       @andrewseguin
/src/cdk-experimental/scrolling/**                          @mmalerba
/src/cdk-experimental/selection/**                          @andrewseguin
/src/cdk-experimental/table-scroll-container/**             @andrewseguin

# Docs examples & guides
/guides/**                                                  @jelbourn

# Integration tests
/integration/**                                             @andrewseguin @devversion

# Tooling
/.circleci/**                                               @devversion @josephperrott
/.yarn/**                                                   @devversion @josephperrott
/scripts/**                                                 @devversion @josephperrott
/test/**                                                    @devversion @josephperrott
/tools/**                                                   @devversion @josephperrott

# Public API golden files
/tools/public_api_guard/cdk/a11y**                          @jelbourn @devversion
/tools/public_api_guard/cdk/accordion**                     @andrewseguin
/tools/public_api_guard/cdk/bidi**                          @andrewseguin
/tools/public_api_guard/cdk/cdk**                           @andrewseguin
/tools/public_api_guard/cdk/clipboard**                     @andrewseguin
/tools/public_api_guard/cdk/coercion**                      @andrewseguin
/tools/public_api_guard/cdk/collections**                   @crisbeto @andrewseguin
/tools/public_api_guard/cdk/drag-drop**                     @crisbeto
/tools/public_api_guard/cdk/keycodes**                      @andrewseguin
/tools/public_api_guard/cdk/layout**                        @andrewseguin
/tools/public_api_guard/cdk/observers**                     @andrewseguin @crisbeto
/tools/public_api_guard/cdk/overlay**                       @andrewseguin @crisbeto
/tools/public_api_guard/cdk/platform**                      @andrewseguin @devversion
/tools/public_api_guard/cdk/portal**                        @andrewseguin
/tools/public_api_guard/cdk/scrolling**                     @andrewseguin @crisbeto
/tools/public_api_guard/cdk/stepper**                       @mmalerba
/tools/public_api_guard/cdk/table**                         @andrewseguin
/tools/public_api_guard/cdk/testing**                       @mmalerba @devversion
/tools/public_api_guard/cdk/text-field**                    @mmalerba
/tools/public_api_guard/cdk/tree**                          @jelbourn @andrewseguin
/tools/public_api_guard/google-maps/**                      @crisbeto
/tools/public_api_guard/material/autocomplete**             @crisbeto
/tools/public_api_guard/material/badge**                    @andrewseguin
/tools/public_api_guard/material/bottom-sheet**             @andrewseguin @crisbeto
/tools/public_api_guard/material/button-toggle**            @andrewseguin
/tools/public_api_guard/material/chips**                    @andrewseguin
/tools/public_api_guard/material/chips/testing**            @andrewseguin
/tools/public_api_guard/material/core**                     @andrewseguin
/tools/public_api_guard/material/datepicker**               @mmalerba @crisbeto @zarend
/tools/public_api_guard/material/divider**                  @andrewseguin @crisbeto
/tools/public_api_guard/material/expansion**                @andrewseguin
/tools/public_api_guard/material/form-field**               @mmalerba
/tools/public_api_guard/material/grid-list**                @andrewseguin
/tools/public_api_guard/material/icon**                     @andrewseguin
/tools/public_api_guard/material/legacy-button**            @andrewseguin
/tools/public_api_guard/material/legacy-card**              @andrewseguin
/tools/public_api_guard/material/legacy-checkbox**          @andrewseguin @devversion
/tools/public_api_guard/material/legacy-dialog**            @andrewseguin @crisbeto
/tools/public_api_guard/material/legacy-input**             @mmalerba
/tools/public_api_guard/material/legacy-paginator**         @andrewseguin
/tools/public_api_guard/material/legacy-progress-bar**      @andrewseguin @crisbeto
/tools/public_api_guard/material/legacy-progress-spinner**  @andrewseguin @crisbeto
/tools/public_api_guard/material/legacy-radio**             @andrewseguin @devversion
/tools/public_api_guard/material/legacy-select**            @crisbeto
/tools/public_api_guard/material/legacy-slide-toggle**      @devversion
/tools/public_api_guard/material/legacy-snack-bar**         @andrewseguin @crisbeto
/tools/public_api_guard/material/legacy-table**             @andrewseguin
/tools/public_api_guard/material/legacy-tabs**              @andrewseguin
/tools/public_api_guard/material/legacy-tooltip**           @andrewseguin
/tools/public_api_guard/material/list**                     @andrewseguin @crisbeto @devversion
/tools/public_api_guard/material/material**                 @andrewseguin
/tools/public_api_guard/material/menu**                     @crisbeto
/tools/public_api_guard/material/radio**                    @andrewseguin @devversion
/tools/public_api_guard/material/sidenav**                  @mmalerba
/tools/public_api_guard/material/slider**                   @mmalerba
/tools/public_api_guard/material/sort**                     @andrewseguin
/tools/public_api_guard/material/stepper**                  @mmalerba
/tools/public_api_guard/material/toolbar**                  @devversion
/tools/public_api_guard/material/tree**                     @jelbourn @andrewseguin
/tools/public_api_guard/youtube-player/**                   @andrewseguin

# Misc
/.github/**                                                 @devversion @josephperrott
/.husky/**                                                  @devversion @josephperrott
/.github/CODEOWNERS                                         @devversion @josephperrott @andrewseguin @jelbourn
/.github/ISSUE_TEMPLATE/**                                  @andrewseguin @jelbourn
/.vscode/**                                                 @devversion @josephperrott @mmalerba
/.ng-dev/**                                                 @devversion @josephperrott
/goldens/size-test.yml                                      @andrewseguin @mmalerba @crisbeto
/goldens/**                                                 @andrewseguin @mmalerba @crisbeto
/src/*                                                      @devversion @josephperrott
/*                                                          @devversion @josephperrott
