# Docs examples & guides
/guides/**                                                  @jelbourn

# Integration tests
/integration/**                                             @andrewseguin @devversion

# Tooling
/.circleci/**                                               @devversion @josephperrott
/.yarn/**                                                   @devversion @josephperrott
/scripts/**                                                 @devversion @josephperrott
/test/**                                                    @devversion @josephperrott
/tools/**                                                   @devversion @josephperrott

# Public API golden files (historical; upstream src/* retired 2026-09-23)
/tools/public_api_guard/**                                  @andrewseguin

# Misc
/.github/**                                                 @devversion @josephperrott
/.husky/**                                                  @devversion @josephperrott
/.github/CODEOWNERS                                         @devversion @josephperrott @andrewseguin @jelbourn
/.github/ISSUE_TEMPLATE/**                                  @andrewseguin @jelbourn
/.vscode/**                                                 @devversion @josephperrott @mmalerba
/.ng-dev/**                                                 @devversion @josephperrott
/goldens/size-test.yml                                      @andrewseguin @mmalerba @crisbeto
/goldens/**                                                 @andrewseguin @mmalerba @crisbeto
/src/*                                                      @devversion @josephperrott
/*                                                          @devversion @josephperrott
