@use '../bridges/companion-overrides' as bridges;
@use '../core/theming/theming';
@use '../core/typography/typography';
@use '../core/tokens/m2/mat/legacy-button-toggle' as tokens-mat-legacy-button-toggle;
@use '../core/tokens/m2/mat/standard-button-toggle' as tokens-mat-standard-button-toggle;
@use '../core/tokens/token-utils';
@use '../core/style/sass-utils';

@mixin color($config-or-theme) {
  @include bridges.button-toggle((
    color: theming.get-color-config($config-or-theme),
    typography: null,
    density: null
  ));
}


@mixin typography($config-or-theme) {
  @include bridges.button-toggle((
    color: null,
    typography: theming.get-typography-config($config-or-theme),
    density: null
  ));
}


@mixin density($config-or-theme) {
  @include bridges.button-toggle((
    color: null,
    typography: null,
    density: theming.get-density-config($config-or-theme)
  ));
}


@mixin theme($theme-or-color-config) {
  $theme: theming.private-legacy-get-theme($theme-or-color-config);
  @include theming.private-check-duplicate-theme-styles($theme, 'mat-button-toggle') {
    @include bridges.button-toggle($theme);
  }
}

