.mat-progress-bar-background {
  fill: rgb(79.1176470588%, 80.6862745098%, 90.2941176471%);
}

.mat-progress-bar-buffer {
  background-color: rgb(79.1176470588%, 80.6862745098%, 90.2941176471%);
}

.mat-progress-bar-fill::after {
  background-color: #3949ab;
}

.mat-progress-bar.mat-accent .mat-progress-bar-background {
  fill: rgb(98.5294117647%, 79.8039215686%, 86.1764705882%);
}
.mat-progress-bar.mat-accent .mat-progress-bar-buffer {
  background-color: rgb(98.5294117647%, 79.8039215686%, 86.1764705882%);
}
.mat-progress-bar.mat-accent .mat-progress-bar-fill::after {
  background-color: #ff4081;
}

.mat-progress-bar.mat-warn .mat-progress-bar-background {
  fill: rgb(97.4509803922%, 80.0980392157%, 78.8235294118%);
}
.mat-progress-bar.mat-warn .mat-progress-bar-buffer {
  background-color: rgb(97.4509803922%, 80.0980392157%, 78.8235294118%);
}
.mat-progress-bar.mat-warn .mat-progress-bar-fill::after {
  background-color: #f44336;
}