@use '@angular/material' as mat with ($theme-ignore-duplication-warnings: true);
$p: mat.define-palette(mat.$blue-palette);
$a: mat.define-palette(mat.$amber-palette);
$t: mat.define-light-theme($p, $a);
@include mat.legacy-button-theme($t);
.repeat { @include mat.legacy-button-theme($t); }
