@use '../bridges/companion-overrides' as bridges;
@use 'sass:map';
@use '../core/theming/theming';
@use '../core/typography/typography';
@use '../core/tokens/m2/mat/toolbar' as tokens-mat-toolbar;
@use '../core/tokens/token-utils';
@use '../core/style/sass-utils';

@mixin _palette-styles($palette) {
  @include token-utils.create-token-values(
    tokens-mat-toolbar.$prefix,
    tokens-mat-toolbar.private-get-color-palette-color-tokens(
      $background-color: theming.get-color-from-palette($palette),
      $text-color: theming.get-color-from-palette($palette, default-contrast)
    )
  );
}

@mixin color($config-or-theme) {
  @include bridges.toolbar((
    color: theming.get-color-config($config-or-theme),
    typography: null,
    density: null
  ));
}


@mixin typography($config-or-theme) {
  @include bridges.toolbar((
    color: null,
    typography: theming.get-typography-config($config-or-theme),
    density: null
  ));
}


@mixin density($config-or-theme) {
  @include bridges.toolbar((
    color: null,
    typography: null,
    density: theming.get-density-config($config-or-theme)
  ));
}


@mixin theme($theme-or-color-config) {
  $theme: theming.private-legacy-get-theme($theme-or-color-config);
  @include theming.private-check-duplicate-theme-styles($theme, 'mat-toolbar') {
    @include bridges.toolbar($theme);
  }
}

