@use '../bridges/companion-overrides' as bridges;
@use 'sass:map';
@use '../core/density/private/compatibility';
@use '../core/theming/theming';
@use '../core/typography/typography';
@use '../core/typography/typography-utils';
@use './tree-variables';

@mixin color($config-or-theme) {
  @include bridges.tree((
    color: theming.get-color-config($config-or-theme),
    typography: null,
    density: null
  ));
}


@mixin typography($config-or-theme) {
  @include bridges.tree((
    color: null,
    typography: theming.get-typography-config($config-or-theme),
    density: null
  ));
}


@mixin density($config-or-theme) {
  @include bridges.tree((
    color: null,
    typography: null,
    density: theming.get-density-config($config-or-theme)
  ));
}


@mixin theme($theme-or-color-config) {
  $theme: theming.private-legacy-get-theme($theme-or-color-config);
  @include theming.private-check-duplicate-theme-styles($theme, 'mat-tree') {
    @include bridges.tree($theme);
  }
}


