@use '../bridges/companion-overrides' as bridges;
@use 'sass:color';
@use 'sass:map';
@use 'sass:meta';
@use '../core/theming/theming';

@mixin color($config-or-theme) {
  @include bridges.sort((
    color: theming.get-color-config($config-or-theme),
    typography: null,
    density: null
  ));
}


@mixin typography($config-or-theme) {
  @include bridges.sort((
    color: null,
    typography: theming.get-typography-config($config-or-theme),
    density: null
  ));
}


@mixin density($config-or-theme) {
  @include bridges.sort((
    color: null,
    typography: null,
    density: theming.get-density-config($config-or-theme)
  ));
}


@mixin theme($theme-or-color-config) {
  $theme: theming.private-legacy-get-theme($theme-or-color-config);
  @include theming.private-check-duplicate-theme-styles($theme, 'mat-sort') {
    @include bridges.sort($theme);
  }
}

